@charset "utf-8";
body{
  background-color: #9b30ff;
  font-family: Arial, Tahoma, sans-serif;
  color: #000000;
}
h1 {
  color: #ffffff;
}
header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  width: 80%
  margin-left: 10%;
}
#container {
  width:100%;
}
main {
  width: 80%;
  background-color: #ffffff;
  float: left;
  padding: 5px;
  margin-left: 10%;
}
footer {
  clear:both;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  margin-left: 10%;
  padding: 5px;
  font-size: 12pt;
  width: 80%;
}
